.blog-container{
   background-color: rgb(44, 67, 44);
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 20px;
}
.blog-title{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(5, 51, 28);
}
.blog{
   
    padding: 10px;
    font-size: 12px;
    background-color:white;
    margin: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog p{
    font-weight: 500;
    opacity: 0.8;
}
@media only screen and (max-width:576px){
    .blog-container{
        grid-template-columns:repeat(1 ,1fr);
    }
}